/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
/public/images/profile/user_*.*
/public/images/properties/image_*.*
/public/images/properties/thumbnail_*.*
