.page-titles .breadcrumb li.active {
    font-weight: bold;
}

.breadcrumb-box {
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

table.ui-responsive td span {
    display: none;
}

@media only screen and (max-width: 768px) {
    table.ui-responsive thead {
        display: none;
    }

    table.ui-responsive td {
        width: 100%;
        display: block;
        padding: 0.571em 0.857em;
        border: 0;
    }

    table.ui-responsive td span {
        font-weight: bold;
        display: inline-block;
        min-width: 42%;
    }
}

div.dataTables_filter input, div.dataTables_length select {
    border: 1px solid #dee2e6;
}

div.dataTables_filter input, div.dataTables_length select {
    border: 1px solid #dee2e6;
}

div.card.form-box {
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    box-shadow: none !important;
}

div.card-header.border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

div.form-group-check {
    padding-top: 1.5rem !important;
    min-height: 74px !important;
    display: flex !important;
    align-items: center !important;
}

.profile-current-image {
    width: 100%;
}

.profile-current-image img {
    max-height: 250px;
    max-width: 250px;
}

.profile-container {
    position: relative;
    width: 80px;
}

.profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.59);
    border-radius: 50%;
}

.profile-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.profile-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.spinner, .spinner-2, .spinner-3 {
    position: relative !important;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    width: 75px;
    height: 75px;
}

.spinning, .spinner, .spinner-2, .spinner-3 {
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.spinner-2 {
    position: absolute !important;
    top: 42% !important;
}

.spinner-3 {
    position: absolute !important;
    top: 56% !important;
}

.croppie-container .cr-slider-wrap {
    margin: 0 auto !important;
}

.not-found {
    margin-top: 42%;
}

.select2 {
    display: block !important;
}

.select2 .select2-selection--single,
.select2 .select2-selection--multiple {
    border-radius: 0 !important;
    border: 1px solid #ced4da !important;
}

.select2 .select2-selection__arrow,
.select2 .select2-selection--single {
    height: 45px !important;
}

.select2 .select2-selection--single .select2-selection__rendered {
    line-height: 45px !important;
}

.select2 .select2-selection--multiple .select2-selection__rendered {
    line-height: 32px !important;
}

.select2.select2-container--focus .select2-selection--multiple {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dropdown-item.disabled {
    cursor: not-allowed;
}

.dropdown-item:not(.disabled):hover, .dropdown-item:not(.disabled):focus {
    background-color: #9097c4;
    color: #f7fafc;
}

.accordion-dropdown-item {
    padding: 0.25rem 1.20rem;
}

.accordion-btn {
    padding: 0.12rem 0.25rem !important;
}

a.no-hover:hover {
    color: inherit !important;
}

.card-header [data-toggle="collapse"].collapsed .fa::before {
    content: "\f107";
}

.card-header [data-toggle="collapse"] .fa::before {
    content: "\f106";
}

/*.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}*/

.daterangepicker td.not-available {
    color: var(--white);
    background-color: #80746D;
    font-weight: bold;
    border-radius: 0;
}

.daterangepicker td.not-available.is-started {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 0;
}

.daterangepicker td.not-available.is-ended {
    border-top-left-radius: 0;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px !important;
}

.daterangepicker td.not-available.in-range {
    background-color: #E3DDD1;
    color: var(--gray-dark);
}

.search-media {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.search-media:hover, .search-media.hovered {
    background-color: #f4f4f4;
}

.search-carousel {
    max-width: 350px;
}

.popup-bubble {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    font-family: sans-serif;
    overflow-y: auto;
    max-height: 60px;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 16px;
    color: var(--dark);
}

.popup-container:hover .popup-bubble,
.popup-container.hovered .popup-bubble {
    background-color: var(--dark);
    color: white;
}

.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: 8px;
    left: 0;
}

.popup-bubble-anchor::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid white;
}

.popup-container:hover .popup-bubble-anchor::after,
.popup-container.hovered .popup-bubble-anchor::after {
    border-top: 8px solid var(--dark);
}

.popup-container {
    cursor: auto;
    height: 0;
    position: absolute;
    width: 200px;
}

.card-hover .card-footer {
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.card-hover .card-body {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.card-hover .img-fluid,
.card-hover .carousel {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.card-hover:hover .card-footer {
    border-bottom: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.card-hover:hover .card-body {
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.card-hover:hover .img-fluid,
.card-hover:hover .carousel {
    border-top: 1px solid var(--blue);
    border-left: 1px solid var(--blue);
    border-right: 1px solid var(--blue);
}

.img-carousel {
    width: 100%;
}

[data-sidebar-style="compact"] .nav-header .brand-logo a,
[data-sidebar-style="mini"] .nav-header .brand-logo a {
    text-align: center;
}

.brand-title, .logo-compact, .logo-abbr {
    color: white;
    font-weight: bold;
}

[data-sidebar-style="mini"] .nav-header .brand-logo a,
[data-sidebar-style="full"] .menu-toggle .nav-header .brand-logo a {
    padding: 1.375rem 1.0625rem !important;
}

[data-sidebar-style="compact"] .nav-header .brand-logo a {
    padding: 0.8125rem 1.8125rem !important;
}

[data-sidebar-style="full"] .nav-header .brand-logo a {
    padding: 1.375rem 1.8125rem !important;
}

[data-sidebar-style="full"] .brand-title,
[data-sidebar-style="mini"] .logo-abbr,
[data-sidebar-style="full"] .logo-abbr {
    font-size: 1.5rem !important;
    white-space: nowrap;
}

/*#daterangepicker_inline ~ .daterangepicker {
    position: sticky;
    border: 0;
}

#daterangepicker_inline ~ .daterangepicker::before {
    display: none;
}

#daterangepicker_inline ~ .daterangepicker .drp-calendar {
    border: 1px solid #ddd;
}

#daterangepicker_inline ~ .daterangepicker .drp-calendar.right {
    border-left: 0;
}

#daterangepicker_inline ~ .daterangepicker .drp-calendar.left {
    border-right: 0;
}*/